{% extends 'base_main.html' %}

{% block content %}
{% for customer in customer_list %}
    {% for colname in customer.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}


<div class="container d-flex mt-5" style="width: 70%;">
    <div class="col">
        <h1 class="text-center">Customers</h1>
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Names</th>
                    <th class="text-center" scope="col">Address</th>
                    <th class="text-center" scope="col">Phone Number</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for customer in customer_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'customer_detail' customer.id %}">{{customer.names}}</a></td>
                    <td class="text-center">{{customer.address }}</td>
                    <td class="text-center">{{customer.phonenumber }}</td>
                    {% if perms.stock_manager.change_customer %}
                        <td><a href="{% url 'customer_update' customer.id %} ">Update</a></td>
                    {% endif %}
                    {% if perms.stock_manager.delete_customer %}
                        <td><a href="{% url 'customer_delete' customer.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        
            </tbody>
        </table>
        {% if perms.stock_manager.add_customer %}    
            <div class="d-flex justify-content-center">
                <a href="{% url 'customer_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New</a>
            </div>
        {% endif %}
    </div>
        
</div>

{% endblock content %}
