{% extends 'base_main.html' %}

{% block content %}
{% for customer in customer_list %}
    {% for colname in customer.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Customer /</span> Customer List</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Pharmacy Stock</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Names</th>
                    <th class="text-center" scope="col">Address</th>
                    <th class="text-center" scope="col">Phone Number</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for customer in customer_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'customer_detail' customer.id %}">{{customer.names}}</a></td>
                    <td class="text-center">{{customer.address }}</td>
                    <td class="text-center">{{customer.phonenumber }}</td>
                    {% if perms.stock_manager.change_customer %}
                        <td><a href="{% url 'customer_update' customer.id %} ">Update</a></td>
                    {% endif %}
                    {% if perms.stock_manager.delete_customer %}
                        <td><a href="{% url 'customer_delete' customer.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        
            </tbody>
        </table>
    </div>
    </div>  
</div>

{% endblock content %}
