{% extends 'base_main.html' %}

{% block content %}
{% for sale in sales_list %}
    {% for colname in sale.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sales /</span> Sales List</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Pharmacy Sales</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Customer</th>
                    <th class="text-center" scope="col">Drug</th>
                    <th class="text-center" scope="col">Quantity</th>
                    <th class="text-center" scope="col">Sale Date</th>
                    <th class="text-center" scope="col">Sold By</th>
                    <th class="text-center" scope="col">Last Updated</th>
                    <th class="text-center" scope="col">Updated By</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for sale in sales_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'sales_detail' sale.id %}">{{sale.customer}}</a></td>
                    <td class="text-center">{{sale.drug}}</td>
                    <td class="text-center">{{sale.quantity}}</td>
                    <td class="text-center">{{sale.created_at}}</td>
                    <td class="text-center">{{sale.created_by}}</td>
                    <td class="text-center">{{sale.updated_at}}</td>
                    <td class="text-center">{{sale.updated_by}}</td>
                    {% if perms.stock_manager.change_sales %}
                        <td><a href="{% url 'sales_update' sale.id %} ">Update</a></td>
                    {% endif %}
                    {% if perms.stock_manager.delete_sales %}
                        <td><a href="{% url 'sales_delete' sale.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        
            </tbody>
        </table>    
        {% if perms.stock_manager.add_sales %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'sales_create' %}" class="d-block btn btn-primary btn-lg my-5">Add New Sale</a>
            </div>
        {% endif %}
    </div>
    </div>
        
</div>

{% endblock content %}
