{% extends 'base_main.html' %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{% url 'supplier' %}">Supplier</a> /</span> Supplier Detail</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Supplier Details</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                
                {% for label, value in supplier.get_fields  %}
                    <tr>
                        <td>{{label | upper}}</td>
                        <td>{{value}}</td>
                    </tr>
                {% endfor %}                    
            </tbody>
        </table>

      </div>
    </div>
</div>

{% endblock  %}

