{% extends 'base_main.html' %}

{% block content %}
{% for user in object_list %}
    {% for colname in user.column_set.all  %}
        <p>{{colname}}</p>
    {% endfor %}
{% endfor %}

<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Basic Bootstrap Table -->
    <div class="card">
      <h5 class="card-header">Pharmacy Staff</h5>
      <div class="table-responsive text-nowrap">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% comment %} <th>#</th> {% endcomment %}
                    <th class="text-center" scope="col">Username</th>
                    <th class="text-center" scope="col">First Name</th>
                    <th class="text-center" scope="col">Last Name</th>
                    <th class="text-center" scope="col">Group</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            
                {% for user in object_list %}
                <tr>
                    {% comment %} <th scope="row">{{forloop.counter}}</th> {% endcomment %}
                    <td class="ml-5"><a href="{% url 'whusers_detail' user.id %}">{{user.username}}</a></td>
                    <td class="ml-5">{{user.firstname}}</td>
                    <td class="ml-5">{{user.lastname}}</td>
                    <td>{% for group in user.groups.all %}{{group}}{% if not forloop.last %},{% endif %}{% endfor %}</td>
                    {% if perms.auth.change_user %}
                        <td><a href="{% url 'whusers_update' user.id %} ">Update</a></td>
                    {% endif %}
                    {% if perms.auth.delete_user %}
                        <td><a href="{% url 'whusers_delete' user.id %}">Delete</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        
            </tbody>
        </table>
    </div>
    </div>    
</div>

{% endblock content %}
