{% extends "base_main.html" %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><a href="{% url 'whusers' %}">Staff</a> /</span> Add/Update Staff</h4>
    <br><br>
    <!-- Basic Layout & Basic with Icons -->
    <div class="row">
      <!-- Basic Layout -->
      <div class="col-xxl">
        <div class="card mb-4">
          <div class="card-body">
            <form>
                {% csrf_token %}
                <table class="table">
                    {{form.as_table}}
                </table>
                <div class="container d-flex justify-content-center" style="width: 10%;">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit" style="margin-right: 30px; margin-top: 30px;">
                    <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;" onclick="window.location='{% url 'whusers' %}'; return false;" value="Cancel">
                </div>                  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- END BOOTSTRAP FORM -->

{% endblock %}