<!DOCTYPE HTML>
<html lang="en">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">

{% block title %}
    {% if title %}
        <title>{{title}} | My Stock</title> 
    {% else %}
        <title>My Stock Table</title>
    {% endif %}
{% endblock title %}

{% block head %}
{% endblock head %}
    
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="d-flex justify-content-between px-5 mx-auto" style="width: 80%;">
            <!--<span class="navbar-text text-white">Hello {{ user.username|default:'Guest' }}, Welcome to Allan Medical Warehouse</span>-->
            
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-left mb-md-0 navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'sales' %}">Sales</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'all' %}">Stock</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'customer' %}">Customers</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'whusers' %}">Users</a>
                </li>                
            </ul>

            {% if user.is_authenticated %}
                    <div class="text-end">
                        <a href="{% url 'whusers_detail' user.id %}">{{     user.username |title }}</a>
                        <!--<a class="btn btn-outline-light me-2" href="{% url 'password_change' %}">Change Password</a>-->
                        <a class="btn btn-warning" href="{% url 'logout' %}">Log Out</a>
                    </div>               
                {% else %}
                    <div class="text-end">
                        <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
                        <a class="btn btn-warning" href="{% url 'register' %}">Sign-up</a>
                    </div>
                {% endif %}        
            
        </div>
    </nav>

    <!-- END OF NAVIGATION BAR -->

</div>

{% block content %}
{% endblock content %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>